.exam{
    color: white;
    background-color: rgb(29, 129, 29);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: large;
    width: 900px;
    padding-left: 20px;
    text-align: center;
}